<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 2️⃣ 그럼 index.html 작동 가능 public/dist.js를 script로 연결했으니 -->
    <script src="/dist.js"></script>
</head>
<body>
    <div id="app">
        <!-- {{msg}}
        <counter-component></counter-component> -->
    </div>
</body>
</html>