<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>복습</title>
</head>
<body>
    <div id="app">
        <h1>{{ fullAddress }}</h1>
        <input type="text" v-model="frontAddress">
        <input type="text" v-model="detailAdress">
    </div>
    <script>
        let v = new Vue({
            el: "#app",
            data: {
                fullAddress: '',
                frontAddress: '',
                detailAdress: ''
            },
            watch: { // model에 있는 값의 변화를 감지
                frontAddress(val) {
                    // console.log("프론트 어드레스가 변하고 있어요.");
                    this.fullAddress = val + " " + this.detailAdress;
                },
                detailAdress(val) {
                    // console.log("디테일 어드레스가 변하고 있어요.");
                    this.fullAddress = this.frontAddress + " " + val;
                } 
            }
        });
    </script>
</body>
</html>